
body{
    background-color: #000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
    margin: 0;

}
ul{
    margin: 0;
    padding: 0;
}
@media (width < 480px){
body{
    background-color: #000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
    margin: 0;
}
}